.modal {
  background-color: #000;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 180;
  color: #fff;
  .center form {
    width: 100%;
    overflow: auto;
  }
  button {
    border: 1px solid $db-light;
  }
}
.modal-btn {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid $db-light;
  background-color: #fff;
  color: $dark-blue;
  font-family: $openSans;
  width: 50%;
  margin: 13px auto;
  transition: 0.4s ease-in-out;
  outline: none;
  border-radius: 10px;
  &:hover,
  &:focus {
    background-color: yellow;
    color: $dark-blue;
  }
}
@media (min-width: 768px) {
  .modal-btn {
    padding: 5px;
    width: 40%;
    font-size: 18px;
    border: 2px solid $db-light;
    font-weight: 700;
  }
}
@media (min-width: 1000px) {
  .modal-btn {
    border: 3px solid $db-light;
    font-weight: 700;
  }
}
