$dark-blue: #030f36;
$db-light: rgba(3, 15, 54, 0.35);
$balFont: "Baloo Thambi 2";
// @mixin pt {
//   padding-top: 80px;
// }
// @mixin flexCentered() {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
